.suggestions-top-home .after{
    position:absolute;
    top:0;
    right:0;
    width:100vw;
    height:100%;
    display:block;
    background-size:cover;
    background-position:100px 100px;
    box-shadow:inset 0 -200px 200px rgb(24, 24, 24);
    z-index:-1;
    overflow:hidden;
    filter: brightness(0.3);
}

.suggestions-top-home h2, .suggestions-top-home h1,.suggestions-top-home p.desc, .suggestions-top-home .btn-container.outside{
    margin-left:var(--responsive-spacing);
}

.suggestions-top-home .after::after{
    content:"";
    display:block;
    height:400px;
    z-index:100;
    position:absolute;
    bottom:0;
    width:100vw;
    background:linear-gradient(360deg, rgba(42,42,42,1) 30%, rgba(0,0,0,0));
}

.suggestions-top-home .after img{
    width:100%;
    z-index:1;
}

.suggestions-top-home{
    background-color: transparent;
    position:relative;
    z-index:1;
    padding-top:300px;
}

.suggestions-top-home .bottom-gap{
    margin-bottom:20px;
}

.suggestions-top-home .btn-container{
    margin-block:var(--xl-size);
    display:flex;
    gap:var(--s-size);
}

@media(max-width:425px){
    .suggestions-top-home h1, .suggestions-top-home h2{
        text-align: left;
    }
}