/*suggestion*/

.suggestion-new{
    display:flex;
    gap:var(--s-size);
    background-color:var(--little-dark-grey);
    padding:var(--l-size);
    border-radius:var(--l-size);
}

.suggestion-new p.desc{
    margin-block:var(--m-size);
}

.suggestion-new .btn-container{
    display:flex;
    gap:var(--xs-size);
}

@media(max-width:425px){
    .suggestion-new{
        flex-direction:column;
        align-items:center;
        align-items: start;
    }

    .suggestion-new h2{
        font-size:var(--two-xl-font-size);
        text-align:left;
    }
}