.poster-suggestion.landscape{
    min-width:320px;
    width:320px;

    height:180px;
}

.poster-suggestion.portrait{
    min-width:200px;
    width:200px;

    height:270px;
    max-height:270px;
}

.poster-suggestion{
    border-radius:var(--m-size);
    overflow:hidden;
    display:flex;
    align-items:center;
    position:relative;
}

.poster-suggestion img{
    width:100%;
}

/*responsive*/

@media (max-width:425px){
    .poster-suggestion.landscape{
        min-width:200px;
        width:200px;
        max-width:100%;

        height:270px;
        max-height:270px;
    }
}